/* This is my "nullification style" to make me easier to style
Style of this page is below */

*{
padding:  0;
margin:  0;
border:  0;
}
*,*:before, *:after{
-moz-box-sizing:  border-box;
-webkit-box-sizing:  border-box;
box-sizing:  border-box;
}
:focus, :active{outline:  none;}
a:focus,a:active{outline:  none;}
nav,footer,header,aside{display:  block;}
html,body {
height:  100%;
width:  100%;
line-height: 1;
font-size: 14px;
-ms-text-size-adjust:  100%;
-moz-text-size-adjust:  100%;
-webkit-text-size-adjust:  100%;
}
input, button, textarea {font-family:  inherit;}
input: ms-clear{display:  none;}
button{cursor:  pointer;}
button::-moz-focus-inner {padding:  0;border:  0;}
a, a:visited{text-decoration:  none;}
a:hover{text-decoration: none;}
ul li{list-style:  none;}
img{vertical-align:  top;}
h1,h2,h3,h4,h5,h6{font-size: inherit;font-weight:  400;}

/* STYLE HERE */
body {
    overflow: hidden;
    background-color: #000;
    color: green;
    font-family: "Press Start 2P";
}

.wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 15px;
}

.terminal__logo {
    margin: 20px 0px 20px 0px;
    font-size: 50px;
    color: green;
    background-color: black;
    text-shadow: 0px 0px 2px rgb(28, 148, 28);
    text-align: center;
    transform: translateY(700%);
    transition: all 0.2s ease 0s;
    animation: logo-off 2s ease-in-out 0s infinite alternate;
}

.terminal__logo:hover {
    color: rgb(58, 215, 58);
    text-shadow: 5px 5px 20px rgb(28, 148, 28);
    /* animation: none; */

}

.terminal__logo-launched {
    animation: floating 1s linear forwards  0s;
}

.terminal__container {
    display: flex;
    flex-direction: row;
    align-items: flex-end;
}

.terminal-wrap {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    border: 3px solid green;
    box-shadow: 0px 0px 20px rgb(45, 211, 45);
    text-shadow: 0px 0px 20px rgb(38, 129, 38);
    line-height: 150%;
    padding: 10px;
    min-width: 800px;
    min-height: 600px;
    max-width: 800px;
    max-height: 600px;
    opacity: 0;
    transform: scale(100%, 0%);

}

.terminal-wrap-launched {
    animation: launching 1.0s ease-in forwards 0s;
}

.terminal-text {
    text-transform: uppercase;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.terminal-quest {
    display: flex;
    flex-direction: column;
    animation: text-animation 0.5s ease 0s;
}
.terminal__explosion {
    font-size: 150px;
    text-align: center;
    transform: translateY(40vh)
}
.terminal-quest img {
    margin: 0px 0px 0px 150px;
    width: 500px;
    
}
.terminal-quest a {
    font-size: 100px;
    transform: translate(90px, 250px);
}



.password__game {
    font-size: 50px;
    text-align: center;
    transform: translateY(280px);
    z-index: 2;
}

.options__list {
    margin: 100px 0px 0px 0px;
}

.password__hint {
    font-size: 50px;
    color: green;
    text-align: center;
    transform: translateY(130px);
    text-shadow: 0px 0px 15px green;
    z-index: 1;
    animation: hint-blinking 1s linear infinite alternate 0s;
}


.option {
}
.option:not(:last-child) {
    margin: 0px 0px 10px 0px;
}

.inputs {
    display: flex;
    flex-direction: column;
}
.inputs input {
    width: 100%;
    height: 50px;
    font-size: 15px;
    color: green;
    padding: 5px;
    border: 1px solid green;
    background-color: #000;
    caret-color: green;
    text-transform: uppercase;
    text-shadow: 0px 0px 20px rgb(25, 210, 25);
}

@keyframes launching {
    from {
        opacity: 0;
        transform: scale(100%, 0%);
    }
    to {
        opacity: 1;
        transform: scale(100%);
    }
}

@keyframes logo-off {
    from {
        color: green;
        text-shadow: 0px 0px 2px rgb(31, 164, 31);
        
    }
    to {
        color: rgb(31, 164, 31);
        text-shadow: 0px 0px 30px rgb(31, 164, 31);
    }
}

@keyframes floating {
    from {
        transform: translateY(700%);
        text-shadow: 0px 0px 2px rgb(28, 148, 28);
    }
    to {
        transform: translateY(0%);
        text-shadow: 5px 5px 2px rgb(28, 148, 28);
    }
}

@keyframes hint-blinking {
    from {
        opacity: 0;
    }
    to {
        opacity: 0.2;
    }
}